{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Inteligencia Artificial</title>    
    <link rel="stylesheet" href="{% static "estilos.css" %}">
    <script src="{% static "scripts.js" %}"></script>    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Sobre mí</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#"><img src="search-icon.png" alt="Buscar"></a></li>
            </ul>
        </nav>
        <h1>Blog de Inteligencia Artificial</h1>
    </header>

    <main>
        <section class="main-content">
            <h2>Blog de Inteligencia Artificial (IA)</h2>
            <p>
                En nuestro Blog de Inteligencia Artificial (IA), queremos descubrir junto a ti, cómo la Inteligencia Artificial está revolucionando la manera en que vivimos y trabajamos.
            </p>
        </section>
    </main>
</body>
</html>
